In [1]:
#データ前処理用のコード(Istanbulでは使えません)
import os
import numpy as np
import pandas as pd
import matplotlib.dates as dates
import datetime

# データの加工
DL先（気象省）：https://www.data.jma.go.jp/risk/obsdl/index.php
### １.１データの呼び出し(rainfall)

In [2]:
dir_name ="rainfall_data"
df = []
for i in range(20):
    df_v = pd.read_csv(dir_name+"/data-"+str(i).zfill(2)+".csv",header=3,names=["time","rainfall"],encoding='cp932',usecols=[0,1],index_col="time",
				parse_dates=True)
    df.append(df_v)

df_total = pd.concat(df,axis=0)
df_total

                     rainfall
time
2000-01-01 01:00:00       0.0
2000-01-01 02:00:00       0.0
2000-01-01 03:00:00       0.0
2000-01-01 04:00:00       0.0
2000-01-01 05:00:00       0.0
...                       ...
2019-12-31 20:00:00       0.0
2019-12-31 21:00:00       0.0
2019-12-31 22:00:00       0.0
2019-12-31 23:00:00       0.0
2020-01-01 00:00:00       0.0

[175320 rows x 1 columns]

### １.２データの呼び出し(temp)

In [3]:
dir_name ="temp_data"
df = []
for i in range(20):
    df_v = pd.read_csv(dir_name+"/data-"+str(i).zfill(2)+".csv",header=2,names=["time","temp"],encoding='cp932',usecols=[0,1],index_col="time",
				parse_dates=True)
    df.append(df_v)
    
df_total_temp = pd.concat(df,axis=0)
df_total_temp

                     temp
time
2000-01-01 01:00:00   0.2
2000-01-01 02:00:00   0.0
2000-01-01 03:00:00  -1.2
2000-01-01 04:00:00  -1.0
2000-01-01 05:00:00  -1.1
...                   ...
2019-12-31 20:00:00   4.5
2019-12-31 21:00:00   3.4
2019-12-31 22:00:00   1.6
2019-12-31 23:00:00   1.3
2020-01-01 00:00:00  -0.6

[175320 rows x 1 columns]

### １.３データの呼び出し(lighttime)

In [4]:
dir_name ="temp_data"
df = []
for i in range(20):
    df_v = pd.read_csv(dir_name+"/data-"+str(i).zfill(2)+".csv",header=2,names=["time","lighttime"],encoding='cp932',usecols=[0,1],index_col="time",
				parse_dates=True)
    df.append(df_v)
    
df_total_lighttime = pd.concat(df,axis=0)
df_total_lighttime

                     lighttime
time
2000-01-01 01:00:00        0.2
2000-01-01 02:00:00        0.0
2000-01-01 03:00:00       -1.2
2000-01-01 04:00:00       -1.0
2000-01-01 05:00:00       -1.1
...                        ...
2019-12-31 20:00:00        4.5
2019-12-31 21:00:00        3.4
2019-12-31 22:00:00        1.6
2019-12-31 23:00:00        1.3
2020-01-01 00:00:00       -0.6

[175320 rows x 1 columns]

### １.３データの呼び出し(windvelocity)

In [5]:
dir_name ="windvelocity_data"
df = []
for i in range(20):
    df_v = pd.read_csv(dir_name+"/data-"+str(i).zfill(2)+".csv",header=3,names=["time","windvelocity","direction"],encoding='cp932',usecols=[0,1,2],index_col="time",
				parse_dates=True)
    df.append(df_v)

df_total_windvelocity= pd.concat(df,axis=0)
df_total_windvelocity

                     windvelocity direction
time
2000-01-01 01:00:00           1.7         西
2000-01-01 02:00:00           1.3       北北東
2000-01-01 03:00:00           2.5        北西
2000-01-01 04:00:00           1.4       西北西
2000-01-01 05:00:00           2.3       西北西
...                           ...       ...
2019-12-31 20:00:00           4.7       西北西
2019-12-31 21:00:00           1.9       西北西
2019-12-31 22:00:00           1.7         西
2019-12-31 23:00:00           2.1       西北西
2020-01-01 00:00:00           2.3        北西

[175320 rows x 2 columns]

### １.４データの呼び出し(pressure)

In [6]:
dir_name ="pressure_data"
df = []
for i in range(20):
    df_v = pd.read_csv(dir_name+"/data-"+str(i).zfill(2)+".csv",header=2,names=["time","pressure"],encoding='cp932',usecols=[0,1],index_col="time",
				parse_dates=True)
    df.append(df_v)

df_total_pressure= pd.concat(df,axis=0)
df_total_pressure

                     pressure
time
2000-01-01 01:00:00    1016.1
2000-01-01 02:00:00    1015.9
2000-01-01 03:00:00    1016.2
2000-01-01 04:00:00    1015.9
2000-01-01 05:00:00    1016.3
...                       ...
2019-12-31 20:00:00    1013.1
2019-12-31 21:00:00    1014.4
2019-12-31 22:00:00    1015.4
2019-12-31 23:00:00    1015.5
2020-01-01 00:00:00    1015.6

[175320 rows x 1 columns]

### １.５データの呼び出し(humidity)

In [62]:
#humidity
dir_name ="humidity_data"
df = []
for i in range(20):
    df_v = pd.read_csv(dir_name+"/data-"+str(i).zfill(2)+".csv",header=2,names=["time","humidity"],encoding='cp932',usecols=[0,1],index_col="time",
				parse_dates=True)
    df.append(df_v)

df_total_humidity = pd.concat(df,axis=0)
df_total_humidity

                     humidity
time
2000-01-01 01:00:00      94.0
2000-01-01 02:00:00      94.0
2000-01-01 03:00:00      94.0
2000-01-01 04:00:00      94.0
2000-01-01 05:00:00      94.0
...                       ...
2019-12-31 20:00:00      42.0
2019-12-31 21:00:00      48.0
2019-12-31 22:00:00      56.0
2019-12-31 23:00:00      60.0
2020-01-01 00:00:00      74.0

[175320 rows x 1 columns]

### １.５データの呼び出し(weather_symbol)

In [64]:
#humidity
dir_name ="weather_symbol"
df = []
for i in range(20):
    df_v = pd.read_csv(dir_name+"/data-"+str(i).zfill(2)+".csv",header=2,names=["time","weather_symbol"],encoding='cp932',usecols=[0,1],index_col="time",
				parse_dates=True)
    df.append(df_v)

df_total_symbol = pd.concat(df,axis=0)
df_total_symbol

                     weather_symbol
time
2000-01-01 01:00:00             NaN
2000-01-01 02:00:00             NaN
2000-01-01 03:00:00             NaN
2000-01-01 04:00:00             NaN
2000-01-01 05:00:00             NaN
...                             ...
2019-12-31 20:00:00             2.0
2019-12-31 21:00:00             2.0
2019-12-31 22:00:00             2.0
2019-12-31 23:00:00             2.0
2020-01-01 00:00:00             2.0

[175320 rows x 1 columns]

In [65]:
df_total_rttw = pd.concat([df_total,df_total_temp,df_total_lighttime,df_total_windvelocity,
                           df_total_humidity,df_total_pressure,df_total_symbol],axis=1)
df_total_rttw

,rainfall,temp,lighttime,windvelocity,direction,humidity,pressure,weather_symbol
time,,,,,,,,
2000-01-01 01:00:00,0.0,0.2,0.2,1.7,西,94.0,1016.1,NaN
2000-01-01 02:00:00,0.0,0.0,0.0,1.3,北北東,94.0,1015.9,NaN
2000-01-01 03:00:00,0.0,-1.2,-1.2,2.5,北西,94.0,1016.2,NaN
2000-01-01 04:00:00,0.0,-1.0,-1.0,1.4,西北西,94.0,1015.9,NaN
2000-01-01 05:00:00,0.0,-1.1,-1.1,2.3,西北西,94.0,1016.3,NaN
...,...,...,...,...,...,...,...,...
2019-12-31 20:00:00,0.0,4.5,4.5,4.7,西北西,42.0,1013.1,2.0
2019-12-31 21:00:00,0.0,3.4,3.4,1.9,西北西,48.0,1014.4,2.0
2019-12-31 22:00:00,0.0,1.6,1.6,1.7,西,56.0,1015.4,2.0
2019-12-31 23:00:00,0.0,1.3,1.3,2.1,西北西,60.0,1015.5,2.0
2020-01-01 00:00:00,0.0,-0.6,-0.6,2.3,北西,74.0,1015.6,2.0

In [66]:
print("check \n",df_total_rttw.isnull().sum()/len(df_total_rttw)*100)
df_total_rttw[df_total_rttw["rainfall"].isnull()]
#Missing value is delete on colum
# df = df.dropna(how='any', axis=1)
# print()
# print("deleted data\n",df.isnull().sum())

check
 rainfall           0.029090
temp               0.037645
lighttime          0.037645
windvelocity       0.098106
direction          0.108944
humidity           0.062742
pressure           0.026808
weather_symbol    75.349076
dtype: float64

,rainfall,temp,lighttime,windvelocity,direction,humidity,pressure,weather_symbol
time,,,,,,,,
2010-09-23 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-23 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-23 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
2010-09-23 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-23 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-23 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-23 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-23 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-23 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-23 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-24 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-24 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-24 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-24 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-24 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-24 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-24 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-24 07:00:00,NaN,16.8,16.8,NaN,NaN,NaN,1012.6,NaN
2010-09-24 08:00:00,NaN,17.6,17.6,NaN,NaN,NaN,1012.8,NaN
2010-09-24 09:00:00,NaN,18.1,18.1,NaN,NaN,NaN,1013.4,4.0
2010-10-01 13:00:00,NaN,23.2,23.2,2.8,南東,68.0,1016.5,NaN
2011-05-19 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-19 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-19 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-19 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-19 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-19 15:00:00,NaN,25.2,25.2,NaN,NaN,33.0,NaN,1.0
2011-05-19 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-19 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-05-19 18:00:00,NaN,22.2,22.2,4.3,南,49.0,1011.7,NaN
2012-02-17 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-17 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
2012-02-23 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-23 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-24 00:00:00,NaN,8.1,8.1,4.6,西北西,58.0,1000.1,NaN
2019-05-20 12:00:00,NaN,23.7,23.7,3.9,南,58.0,1013.7,NaN
2019-05-20 14:00:00,NaN,19.3,19.3,3.1,南南東,85.0,1012.3,NaN
2019-05-20 15:00:00,NaN,21.7,21.7,5.8,南南東,64.0,1011.6,NaN

In [67]:
df_total_rttw.to_csv('tsukuba_weather_data.csv')